body {
    font-family: Arial, sans-serif;
    background-color: #e6f0fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #81A9CB;
    color: white;
}

.logo {
    font-size: 40px;
}

.user-info {
    font-size: 25px;
    margin-right: 50px;
}

.user-info a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #81A9CB;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
}

img#game-image {
    width: 100%;
    height: auto;
    max-width: 836px;
    max-height: 470px;
    object-fit: cover;
    border-radius: 10px;
}

.description {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #81A9CB;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

.start-button {
    padding: 10px 20px;
    background-color: #81A9CB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #00509e;
}
