body {
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #E6EEF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 160px;
}

.logo img {
    width: 500px; /* 로고 크기 대폭 증가 */
    height: 247.25;
}

.login-form {
    width: 634px;
    height: 418px; /* 폼 크기 대폭 증가 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: none; /* 배경 없음 */
}

.form-control {
    width:  92%;
    padding: 20px; /* 플레이스 홀더 크기 증가 */
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px; /* 텍스트 크기 증가 */
}

.login-button {
    width: 100%;
    padding: 15px; /* 버튼 크기 증가 */
    background-color: #7379B7;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px; /* 텍스트 크기 증가 */
    cursor: pointer;
    margin-top: 10px;
}

.create-account {
    margin-top: 10px;
    font-size: 14px;
    align-self: center;
}

.create-account a {
    color: #7379B7;
    text-decoration: none;
}