body {
  font-family: Arial, sans-serif;
  background-color: #8AB4F8;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  background-color: #8AB4F8;
  box-sizing: border-box;
}

.user-info {
  /* display: flex;
  align-items: center; */
  font-size: 30px;
  color: white;
}

.user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

#logout-button {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.logo {
  text-align: center;
  margin: 20px 0;
  width: 100%;
  box-sizing: border-box;
}

.logo img {
  width: 300px;
  height: 148.35px;
}

.search-container {
  display: none; /* Hide the search container */
}

.main-container {
  width: 100%;
  background-color: white;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  padding: 10px 0;
  border-top: 1px solid #E0E0E0;
  box-sizing: border-box;
  position: relative;
}

.tab {
  margin: 0 20px;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  color: #333;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab svg {
  margin-bottom: 5px;
}

.tab.active {
  color: #333;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: #6d6dbf;
  transition: left 0.3s, width 0.3s;
}

.title-text {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center; 
}

.cards {
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: center;
  align-items: center; */ /* 한줄에 4개의 카드가 들어가도록 설정 */
  background-color: white;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#cards-position {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  gap: 2px;
  padding: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.card {
  background-color: #E0E0E0;
  border-radius: 8px;
  overflow: hidden;
  width: calc(100% - 20px); 
  margin: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.card-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.card img {
  width: 100%;
}

.card p {
  margin: 10px 0;
  color: #333;
}

@media (max-width: 1024px) {
  .card {
    width: calc(100% - 20px);
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(100% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: calc(100% - 20px);
  }
}
