*{--primary-color: #ffffff;}

.stars {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg); }

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 4em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(212em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
  .star:nth-child(1) {
    --star-tail-length: 6.63em;
    --top-offset: 73.38vh;
    --fall-duration: 7.652s;
    --fall-delay: 0.089s; }
  .star:nth-child(2) {
    --star-tail-length: 5.4em;
    --top-offset: 71.52vh;
    --fall-duration: 6.166s;
    --fall-delay: 7.981s; }
  .star:nth-child(3) {
    --star-tail-length: 5.21em;
    --top-offset: 50.3vh;
    --fall-duration: 11.45s;
    --fall-delay: 2.251s; }
  .star:nth-child(4) {
    --star-tail-length: 5.75em;
    --top-offset: 59.95vh;
    --fall-duration: 11.088s;
    --fall-delay: 2.907s; }
  .star:nth-child(5) {
    --star-tail-length: 6.27em;
    --top-offset: 58.95vh;
    --fall-duration: 10.23s;
    --fall-delay: 5.707s; }
  .star:nth-child(6) {
    --star-tail-length: 5.91em;
    --top-offset: 9.46vh;
    --fall-duration: 6.704s;
    --fall-delay: 8.233s; }
  .star:nth-child(7) {
    --star-tail-length: 5.7em;
    --top-offset: 76.49vh;
    --fall-duration: 11.82s;
    --fall-delay: 9.788s; }
  .star:nth-child(8) {
    --star-tail-length: 7.49em;
    --top-offset: 35.77vh;
    --fall-duration: 8.748s;
    --fall-delay: 2.657s; }
  .star:nth-child(9) {
    --star-tail-length: 7.35em;
    --top-offset: 86.71vh;
    --fall-duration: 9.248s;
    --fall-delay: 4.765s; }
  .star:nth-child(10) {
    --star-tail-length: 5.95em;
    --top-offset: 55.52vh;
    --fall-duration: 11.696s;
    --fall-delay: 5.203s; }
  .star:nth-child(11) {
    --star-tail-length: 6.48em;
    --top-offset: 96.42vh;
    --fall-duration: 6.699s;
    --fall-delay: 7.25s; }
  .star:nth-child(12) {
    --star-tail-length: 6.87em;
    --top-offset: 52.43vh;
    --fall-duration: 8.924s;
    --fall-delay: 7.246s; }
  .star:nth-child(13) {
    --star-tail-length: 5.36em;
    --top-offset: 34.13vh;
    --fall-duration: 6.748s;
    --fall-delay: 8.333s; }
  .star:nth-child(14) {
    --star-tail-length: 5.78em;
    --top-offset: 8.28vh;
    --fall-duration: 7.659s;
    --fall-delay: 6.228s; }
  .star:nth-child(15) {
    --star-tail-length: 5.82em;
    --top-offset: 2.53vh;
    --fall-duration: 10.965s;
    --fall-delay: 3.388s; }
  .star:nth-child(16) {
    --star-tail-length: 6.7em;
    --top-offset: 61.49vh;
    --fall-duration: 9.671s;
    --fall-delay: 0.492s; }
  .star:nth-child(17) {
    --star-tail-length: 6.2em;
    --top-offset: 29.16vh;
    --fall-duration: 6.501s;
    --fall-delay: 1.596s; }
  .star:nth-child(18) {
    --star-tail-length: 6.75em;
    --top-offset: 8.5vh;
    --fall-duration: 8.316s;
    --fall-delay: 0.842s; }
  .star:nth-child(19) {
    --star-tail-length: 5.93em;
    --top-offset: 81.72vh;
    --fall-duration: 11.153s;
    --fall-delay: 0.832s; }
  .star:nth-child(20) {
    --star-tail-length: 7.31em;
    --top-offset: 6.34vh;
    --fall-duration: 7.661s;
    --fall-delay: 3.462s; }
  .star:nth-child(21) {
    --star-tail-length: 7.45em;
    --top-offset: 82.92vh;
    --fall-duration: 7.775s;
    --fall-delay: 0.25s; }
  .star:nth-child(22) {
    --star-tail-length: 6.89em;
    --top-offset: 58.18vh;
    --fall-duration: 7.849s;
    --fall-delay: 0.64s; }
  .star:nth-child(23) {
    --star-tail-length: 6.81em;
    --top-offset: 21.56vh;
    --fall-duration: 11.679s;
    --fall-delay: 2.48s; }
  .star:nth-child(24) {
    --star-tail-length: 6.71em;
    --top-offset: 29.04vh;
    --fall-duration: 7.523s;
    --fall-delay: 9.883s; }
  .star:nth-child(25) {
    --star-tail-length: 7.05em;
    --top-offset: 12.7vh;
    --fall-duration: 6.17s;
    --fall-delay: 4.578s; }
  .star:nth-child(26) {
    --star-tail-length: 7.2em;
    --top-offset: 40.65vh;
    --fall-duration: 10.234s;
    --fall-delay: 0.606s; }
  .star:nth-child(27) {
    --star-tail-length: 7.34em;
    --top-offset: 53.77vh;
    --fall-duration: 11.223s;
    --fall-delay: 8.232s; }
  .star:nth-child(28) {
    --star-tail-length: 7.34em;
    --top-offset: 53.25vh;
    --fall-duration: 11.469s;
    --fall-delay: 4.302s; }
  .star:nth-child(29) {
    --star-tail-length: 5.08em;
    --top-offset: 24.62vh;
    --fall-duration: 10.22s;
    --fall-delay: 3.06s; }
  .star:nth-child(30) {
    --star-tail-length: 6.13em;
    --top-offset: 40.3vh;
    --fall-duration: 11.308s;
    --fall-delay: 0.906s; }
  .star:nth-child(31) {
    --star-tail-length: 5.78em;
    --top-offset: 44.74vh;
    --fall-duration: 8.285s;
    --fall-delay: 1.752s; }
  .star:nth-child(32) {
    --star-tail-length: 7.06em;
    --top-offset: 63.56vh;
    --fall-duration: 10.217s;
    --fall-delay: 1.243s; }
  .star:nth-child(33) {
    --star-tail-length: 7.44em;
    --top-offset: 60.34vh;
    --fall-duration: 7.406s;
    --fall-delay: 1.463s; }
  .star:nth-child(34) {
    --star-tail-length: 6.44em;
    --top-offset: 51.67vh;
    --fall-duration: 11.198s;
    --fall-delay: 6.263s; }
  .star:nth-child(35) {
    --star-tail-length: 5.7em;
    --top-offset: 66.82vh;
    --fall-duration: 9.724s;
    --fall-delay: 9.743s; }
  .star:nth-child(36) {
    --star-tail-length: 6.79em;
    --top-offset: 49.8vh;
    --fall-duration: 10.07s;
    --fall-delay: 8.59s; }
  .star:nth-child(37) {
    --star-tail-length: 5.59em;
    --top-offset: 3.59vh;
    --fall-duration: 10.855s;
    --fall-delay: 4.336s; }
  .star:nth-child(38) {
    --star-tail-length: 7.5em;
    --top-offset: 14.01vh;
    --fall-duration: 6.48s;
    --fall-delay: 0.856s; }
  .star:nth-child(39) {
    --star-tail-length: 5.18em;
    --top-offset: 92.18vh;
    --fall-duration: 10.995s;
    --fall-delay: 7.102s; }
  .star:nth-child(40) {
    --star-tail-length: 5.65em;
    --top-offset: 3.09vh;
    --fall-duration: 9.509s;
    --fall-delay: 9.214s; }
  .star:nth-child(41) {
    --star-tail-length: 5.93em;
    --top-offset: 12.15vh;
    --fall-duration: 8.637s;
    --fall-delay: 3.426s; }
  .star:nth-child(42) {
    --star-tail-length: 7.28em;
    --top-offset: 24.12vh;
    --fall-duration: 8.361s;
    --fall-delay: 4.911s; }
  .star:nth-child(43) {
    --star-tail-length: 5.63em;
    --top-offset: 66.1vh;
    --fall-duration: 11.994s;
    --fall-delay: 5.02s; }
  .star:nth-child(44) {
    --star-tail-length: 6.62em;
    --top-offset: 18.5vh;
    --fall-duration: 10.629s;
    --fall-delay: 3.387s; }
  .star:nth-child(45) {
    --star-tail-length: 7.47em;
    --top-offset: 43.12vh;
    --fall-duration: 9.195s;
    --fall-delay: 4.888s; }
  .star:nth-child(46) {
    --star-tail-length: 6.78em;
    --top-offset: 62.05vh;
    --fall-duration: 8.749s;
    --fall-delay: 9.906s; }
  .star:nth-child(47) {
    --star-tail-length: 5.42em;
    --top-offset: 53.67vh;
    --fall-duration: 8.972s;
    --fall-delay: 1.585s; }
  .star:nth-child(48) {
    --star-tail-length: 5.61em;
    --top-offset: 51.99vh;
    --fall-duration: 7.139s;
    --fall-delay: 1.581s; }
  .star:nth-child(49) {
    --star-tail-length: 7.42em;
    --top-offset: 2.17vh;
    --fall-duration: 7.758s;
    --fall-delay: 5.187s; }
  .star:nth-child(50) {
    --star-tail-length: 6.19em;
    --top-offset: 1.24vh;
    --fall-duration: 9.543s;
    --fall-delay: 8.736s; }
  .star::before, .star::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite; }
  .star::before {
    transform: rotate(45deg); }
  .star::after {
    transform: rotate(-45deg); }

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0); } }

@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1; }
  70%, 80% {
    width: 0;
    opacity: 0.4; }
  100% {
    width: 0;
    opacity: 0; } }

@keyframes blink {
  50% {
    opacity: 0.6; } }
