<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>먼작커.io</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='images/L1.png') }}" alt="MJQwiz Logo">
    </div>
    <div class="stars">
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div><div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div><div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div><div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div><div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div><div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
       
       
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>  <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
      </div>
    <form class="login-form" method="POST" action="{{ url_for('main.index') }}">
        {{ form.hidden_tag() }} 
        
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
        {% for error in form.email.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
        
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
        {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
        
        {{ form.submit(class="login-button", value="Log in") }}
        
        <div class="create-account">
            <a href="{{ url_for('main.signup') }}">create new account</a>
        </div>
    </form>
</body>
</html>
