<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 - 먼작커.io</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
</head>
<body>
    <header class="header"><div class="logo">  <img src="{{ url_for('static', filename='images/L1.png') }}" alt="MJQwiz Logo"></header>
    <section>
        <header class="subheader">회원가입을 위해 정보를 입력해주세요</header>
        <article>
            <form id="signup-form" method="POST"action="{{ url_for('main.signup') }}">
                {{ form.hidden_tag() }}
            
                <div class="form-group">
                    <label for="email">이메일</label>
                    {{ form.email(class="form-control", id="email") }}
                    <span class="error-message" id="email-error"></span>
                </div>
            
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    {{ form.password(class="form-control", id="password") }}
                    <span class="error-message" id="password-error"></span>
                </div>
            
                <div class="form-group">
                    <label for="confirm_password">비밀번호 재확인</label>
                    {{ form.confirm_password(class="form-control", id="confirm_password") }}
                    <span class="error-message" id="confirm-password-error"></span>
                </div>
            
                <div class="form-group">
                    <label for="nickname">닉네임</label>
                    {{ form.nickname(class="form-control", id="nickname") }}
                    <span class="error-message" id="nickname-error"></span>
                </div>
            
                <div>
                    <button type="submit" class="btn btn-primary">가입하기</button>
                </div>
            </form>
        </article>
    </section>
</body>
</html>
